/****************
 * COLOR PALETTE
 ****************/
$palette: (
	// Common
	trans: transparent,
	black: #000,
	white: #fff,

	// Blues
	darkCerulean:       #004085,
	diamond:            #b8daff,
	periwinkle:         #cce5ff,

	// Greens
	calPolyPomonaGreen: #155724,
	teaGreen:           #c3e6cb,
	gainsboro:          #d4edda,

	// Greys
	blackOlive:         #383d41,
	lightGray:          #d4d7db,
	platinum:           #e2e3e5,

	// Reds
	prune:              #721c24,
	teaRose:            #f5c6cb,
	palePink:           #f8d7da,

	// Turquoise
	midnightGreen:      #0c5460,
	blueLagoon:         #bee5eb,
	azureishWhite:      #d1ecf1,

	// Yellows
	gambogeOrange:      #856404,
	blond:              #ffeeba,
	lemonChiffon:       #fff3cd
);