/*********
 * COMMON
 *********/
section {
	position: relative;
	padding: 10px 15px;

	::slotted(hr) {
		margin: 16px 0 !important;
		border: none !important;
		border-top: 1px solid !important;
		opacity: .15 !important;
	}

	/* Options
	 **********/
	&.removable {
		rb-button {
			position: absolute;
			top: 0;
			right: 4px;
		}

		&.hidden {
			display: none !important;
		}
	}
}