/*********
 * COMMON
 *********/
section {
	position: relative;
	padding: 11px 15px 12px;

	/* Slot
	 *******/
	::slotted(hr) {
		margin: 16px 0 !important;
		border: none !important;
		border-top: 1px solid !important;
		opacity: .15 !important;
	}

	/* Removable Option
	 *******************/
	rb-button {
		position: absolute;
		top: -3px;
		right: 2px;
		--rb-button-text-button-opacity: .75;
	}

	&:not(.removable) {
		rb-button {
			display: none;
		}
	}

	&.removable {
		padding-right: 21px;
	}
}