/*******
 * HOST
 *******/
:host {
	// paint cuts off popover
	// not sure about layout so not including it
	contain: style;
	display: block;
	margin-bottom: 1rem;
}
:host([hidden]) {
	display: none;
}
:host([inline]) {
	display: inline-block;
}