/*****************************************
 * COMMON CSS VARIABLES
 * Applies to both light and dark themes.
 *****************************************/
$commonCssVars: (
	// Borders (common for all kinds)
	border-radius: 4px,
	border-style:  solid,
	border-width:  1px,

	// Background Colors
	default-bg: mapGet($palette, periwinkle),
	danger-bg:  mapGet($palette, palePink),
	info-bg:    mapGet($palette, azureishWhite),
	neutral-bg: mapGet($palette, platinum),
	success-bg: mapGet($palette, gainsboro),
	warning-bg: mapGet($palette, lemonChiffon),

	// Border Colors
	default-border-color: mapGet($palette, diamond),
	danger-border-color:  mapGet($palette, teaRose),
	info-border-color:    mapGet($palette, blueLagoon),
	neutral-border-color: mapGet($palette, lightGray),
	success-border-color: mapGet($palette, teaGreen),
	warning-border-color: mapGet($palette, blond),

	// Colors
	default-text-color: mapGet($palette, darkCerulean),
	danger-text-color:  mapGet($palette, prune),
	info-text-color:    mapGet($palette, midnightGreen),
	neutral-text-color: mapGet($palette, blackOlive),
	success-text-color: mapGet($palette, calPolyPomonaGreen),
	warning-text-color: mapGet($palette, gambogeOrange)
);